<form action="/api/jwt" method="post">
Username: <input type="text" name="username" id="username">
Password: <input type="password" name="password" id="password">
<input type="submit" value="LOGIN">
</form>

<button onclick="location.href='/api/autentication/githubSignup'">GITHUB</button>