<h2>WELCOME</h2>
<form action="/api/users" method="post">
FirstName: <input type="text" name="first_name" id="first_name">
LastName: <input type="text" name="last_name" id="last_name">
email: <input type="email" name="email" id="email">
<input type="submit" value="ENTER">
</form>