<form action="/api/login" method="post">
Username: <input type="text" name="username" id="username">
Password: <input type="password" name="password" id="password">
<input type="submit" value="LOGIN">
</form>