<h2>SOCKET CLIENT</h2>

<form id="formulario">
    Message: <input type="text" name="message" id="message">
    <input type="submit" value="ENVIAR">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>