<h1>BIENVENIDO A CODERCHAT</h1>
<h3 id="nombre"></h3>
<form id="formulario">
<input type="text" name="mensaje" id="mensaje">
<input type="submit" value="ENVIAR">
</form>
<div id="chat"></div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>