<form action="/api/messages" method="post">
    first_name: <input type="text" name="first_name" id="first_name">
    last_name: <input type="text" name="last_name" id="last_name">
    email: <input type="text" name="email" id="email">
    message: <input type="text" name="message" id="message">
    <input type="submit" value="Submit">
</form>